{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<nav>
    <a href="#">Артисты</a>
    <a href="#">Певицы</a>
    <a href="#">Спортсменки</a>
</nav>


<ul>
    {% for p in  posts %}
    {% if p.is_published %}
    <il>
        <h2>{{p.title}}</h2>
        <p>{{p.content}}</p>

        <p><a href="{% url 'post' p.id%}" >Читать пост</a></p>

        {% if not forloop.last %}
        <hr>
        {% endif %}
    </il>
    {% endif %}
    {% endfor %}
</ul>

<nav>
    <a href="#">Артисты</a>
    <a href="#">Певицы</a>
    <a href="#">Спортсменки</a>
</nav>

{% endblock %}