<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <p>{{ menu }}</p>
    <title>{{ main_title|default:'Без заголовка' }}</title>
</head>
<body>
<h1>{{ menu|first }}</h1>
<h1>{{ menu|last }}</h1>
<h1>{{ menu|join:' | ' }}</h1>

<ul>
    {% for p in  posts%}
    {% if p.is_published %}
    <il>
        <h2>{{p.title}}</h2>
        <p>{{p.content}}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </il>
    {% endif %}
    {% endfor %}
</ul>

<h1>{{ float|add:'50' }}</h1>
<h1>{{ float|divisibleby:'2' }}</h1>
<h1>{{ lst }}</h1>
<h1>{{ set }}</h1>
<h1>{{ dict.key_1 }} {{ dict.key_2 }}</h1>
<h1>{{ obj.a }}</h1>
<h1>{{ title|capfirst }}</h1>
<h1>{{ title|upper }}</h1>
<h1>{{ title|lower }}</h1>
<p>{{'The Main Page'|slugify}}</p>
<h1>{{ title|cut:' '|cut:'?' }}</h1>
<p>{{url}}</p>


</body>
</html>